<div class="header">
    <div class="company-logo">
        <img src="images/Chamundi_image.png"
             class="company-logo-img"
             alt="Chamundi Logo" />
    </div>

    <h2 class="page-title">@Title</h2>

    <div class="header-actions">
        <button class="more-btn">
            <div class="dot-row">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="dot-row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </button>

    </div>

</div>


@code {
    [Parameter]
    public string Title { get; set; } = "Employee Information";
    [Parameter]
    public EventCallback OnNotificationClick { get; set; }
    [Parameter]
    public EventCallback OnSearchClick { get; set; }
    [Parameter]
    public EventCallback OnSettingsClick { get; set; }
}
