<div class="kpi-footer">
    <div class="kpi-item">
        <span class="kpi-label">Shoeboxes in Inventory</span>
        <span class="kpi-value">751</span>
        <span class="kpi-unit">Nos.</span>
    </div>

    <div class="kpi-item">
        <span class="kpi-label">Master boxes<br />ready for dispatch</span>
        <span class="kpi-value">5</span>
        <span class="kpi-unit">Nos.</span>
    </div>
</div>
